/* 
    This is a nice orange:
    color:#c97f0a;
*/

.jumbotron {
    background-color: transparent;
}

body {
  margin: 0;
  background-color: #ededed;
}

#main {
    margin: 30px;
    position: absolute;
    display: block;
    top: 0;
    left:0;
}

#background {
    margin-top: 375px;
    position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: #072049;
  /* color: #216cb7; */
  font-family: 'Assistant', sans-serif;
}

h1 {
  font-size: 128px;
  font-family: 'Miriam Libre', sans-serif;

}

h2 {
  font-size: 50px;
  font-family: 'Noto Sans SC', sans-serif;
}

p {
    font-size: 1.18em;
}


#mainFooter {
  position: relative;
}

#github:hover {
  fill: orange;
}
#deviantart:hover {
  fill: green;
}
#linkedin:hover {
  fill: blue;
}
#resume:hover {
  fill: red;
}
#github,
#deviantart,
#linkedin,
#resume {
  margin: 2px 0px;
}
