/*for header*/
h1{
  font-family: strait;
}
h2{
  font-family: "Francois One", sans-serif;
  font-size: 50px;
  color: black;
  text-align: left;
}

header nav{
  display: flex;
  justify-content: flex-end;
}

header p, a{
  padding: 20px;
}

.offcenter{
  height: 500px;
  width: auto;
  margin: -30px 0 0 -150px;
}

section .row{
  margin: 10px;
}

h3{
  font-family: "Francois One", sans-serif;
  padding-top: 18px;
  font-size: 30px;
  color: black;
  text-align: center;
}

section .row p{
  font-size: 18px;
  font-family: "Abel";
  color: gray;
  padding-left: 30px;
  text-align: center;
}

.menubut{
  object-fit: none;
  width: 1200px;
  height: 200px;
  background: center;
  background-size: cover;
}
section .row img {
  margin: 0 0 30px;
  width: 100%;
}

footer{
  background-color: #000000;
}
