
/*for header*/
h1{
  font-family: strait;
}

header nav{
  display: flex;
  justify-content: flex-end;
}

header p, a{
  padding: 20px;
}

.images{
  width: 500px;
  height: 350px;
  overflow: hidden;
}

.offcenter{
  height: 500px;
  width: auto;
  margin: -30px 0 0 -150px;
}

.coverart{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

section .row{
  border: solid;
  border-width: thin;
  color: silver;
  margin: 7px;
}

h3{
  font-family: "Helvectica"sans-serif;
  padding-top: 18px;
  font-size: 40px;
  color: black;
}

section .row p{
  font-size: 18px;
  font-family: "Abel";
  color: gray;
  padding-left: 30px;
}

.container{
  max-width: 1000px;
}
