/* 
rgb(240, 133, 190) - pink
 */

html,
body {
	height: 100%;
	width: 100%;
	/* overflow-x: hidden; */
	/* overflow-y: hidden; */
	scroll-behavior: smooth;
}

body {
	background-size: 40px 40px;
	background-image: linear-gradient(
			to right,
			rgb(250, 231, 243) 1px,
			transparent 1px
		),
		linear-gradient(to bottom, rgb(250, 231, 243) 1px, transparent 1px);
}

body {
	background-color: white;
}

h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 90px;
	color: white;
}

h2 {
	font-family: "Francois One", sans-serif;
	font-size: 50px;
	color: white;
	text-align: left;
	/* z-index: 100; */
}

h3 {
	font-family: "Abel", sans-serif;
	color: white;
	opacity: 0.9;
}

a {
	font-size: 20px;
	font-family: "Abel", sans-serif;
	margin: 0px;
}

p {
	font-size: 18px;
	font-family: "Abel", sans-serif;
	color: white;
}

.jumbotron {
	margin: 0;
}

#Landing {
	background-image: linear-gradient(#afd7f0, #d1acfa);
}

.landing-description {
	/* z-index: 2; */
	vertical-align: middle;
	position: relative;
	top: 50%;
	transform: translateY(-100%);
}

.landing-description h4 {
	color: #416ae7;
}

h5 {
	display: flex;
	flex: 1;
	width: 100%;
	margin: 20px auto 10px;
	line-height: 1em;
	font-size: 40px;
	font-family: "Francois One", sans-serif;
	color: #416ae7;
}

.heading:before,
.heading:after,
.heading-ie span.after,
.heading-ie span.before {
	content: "";
	flex-grow: 1;
	margin: 0px 16px;
	background: linear-gradient(to right, #d1acfa, #d1acfa);
	background-size: 100% 2px;
	background-position: 0% 50%;
	background-repeat: repeat-x;
}
/* 
#Landing,
#WorkHeader,
#autodif,
#SkillsHeader,
#Landing {
	margin: 32px 0px;
} */

.workexp,
.about {
	background-color: rgb(240, 133, 190);
	border-top: 5px solid #416ae7;
	padding-bottom: 32px;
	text-align: center;
}
.about {
	margin: 64px 0px 32px;
}
.workexp-title,
.about-title {
	transform: translateY(-50%);
	background-color: #416ae7;
	display: inline-block;
}
.workexp-content,
.about-content {
	text-align: left;
}
.contact {
	padding: 64px 0px;
}
.contact h2 {
	color: rgb(240, 133, 190);
}
.contact h3 {
	color: #333;
}

#intro h2,
#intro h3 {
	color: #416ae7;
}

#techSkills h3 {
	text-align: left;
	color: #416ae7;
}

#techSkills .container {
	padding: 10px 0px;
}

#employment .container h2,
#employment .container h3 {
	color: #416ae7;
}

#socialLinks li {
	background-color: #333;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	padding: 2px 12px 2px 7px;
	margin: 3px;
}
#socialLinks li a {
	font-family: "Kosugi", sans-serif;
}

.social-icon {
	width: 40px;
	position: fixed;
}

a:link {
	text-decoration: none;

	color: white;
}

a:hover {
	text-decoration: none;
	color: white;
}

a:visited {
	text-decoration: none;

	color: white;
}

.custrow {
	display: flex;
	flex-wrap: wrap;
}
.custcolumn {
	flex: 25%;
}
.custcolumn img {
	vertical-align: middle;
	width: 100%;
}

.logo {
	position: fixed;
	color: white;
	left: 60px;
	top: 40px;
	border-width: 2px;
	border-style: solid;
	border-color: white;
	background-color: #416ae7;
	padding: 10px;
}
.logo a {
	font-family: "Caveat Brush", cursive;
	font-size: 40px;
}
.list-unstyled {
	display: block;
	font-size: 20px;
}

.footer {
	background-color: #333;
	padding: 16px 0;
	text-align: center;
	/* background-image: linear-gradient(#d1acfa, #afd7f0); */
}
footer ul {
	list-style: none;
	font-size: 18px;
	font-family: "Abel", sans-serif;
	color: white;
}

.header-tail {
	position: absolute;
	height: 300px;
	width: 100%;
}

a {
	color: #416ae7;
	text-decoration: underline;
}

a:hover {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='rgb(240, 133, 190)' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
	background-position: bottom;
	background-repeat: repeat-x;
	background-size: 5%;
	border-bottom: 0;
	text-decoration: none;
}

#autodif {
	background-image: url("sandychibi.png");
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 100%;
}
#autodif h2 {
	margin: 0px;
}

#autodif a {
	font-family: "Francois One", sans-serif;
	font-size: 100%;
	text-decoration: none;
}

.autodif-title {
	width: 100%;
	background-color: #416ae7;
	padding: 8px;
	position: relative;
	float: left;
	margin-bottom: 30px;
	background-size: cover;
	/* text-transform: uppercase; */
	color: white;
}
.autodif-container {
	background-color: #71b9e7;
	margin: 16px auto 32px;
	padding: 0px;
}
.autodif-row {
	padding: 16px;
}

#navbar {
	background-color: #333; /* Black background color */
	position: fixed; /* Make it stick/fixed */
	top: -150px; /* Stay on top */
	width: 100%; /* Full width */
	transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

/* Style the navbar links */
#navbar a {
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	text-transform: uppercase;
}

#navbar a:hover {
	background-color: rgb(240, 133, 190);
	color: black;
}

.ribbon2 {
	width: 60px;
	padding: 10px 0;
	position: absolute;
	top: -6px;
	left: 25px;
	text-align: center;
	border-top-left-radius: 3px;
	background: #333;
}
.ribbon2:before {
	height: 0;
	width: 0;
	right: -5.5px;
	top: 0.1px;
	border-bottom: 6px solid #8d5a20;
	border-right: 6px solid transparent;
}
.ribbon2:before,
.ribbon2:after {
	content: "";
	position: absolute;
}
.ribbon2:after {
	height: 0;
	width: 0;
	bottom: -29.5px;
	left: 0;
	border-left: 30px solid #333;
	border-right: 30px solid #333;
	border-bottom: 30px solid transparent;
}
